#M_P_content,
body {
	background: #FFF;
}


.mmp,
.mmp-3 {
	width: 97%;
	height: 350px;
	border: 1px solid #D1434A;
	background-size: 100%;
	margin: 5px;
}

#M_P_content {
	margin: 0 auto;
	width: 1200px;
}

.mmp-two,
.mmp-4 {
	width: 97%;
	height: 20px;
	/*background: black;*/
	margin: 5px;
	overflow: hidden;
}

.nav-content,
.nav-content-one {
	display: inline-block;
	width: 33.3%;
	target:_blank
}

.mmp-two p,
.mmp-4 p {
	height: 20px;
	line-height: 20px;
	width: 380px;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fix {
        position:fixed;
        top:0;
        left:0;
        margin: 0 auto;
    }
